[submodule "submodules/scons-tools"]
	path = submodules/scons-tools
	url = https://github.com/TUM-I5/scons-tools.git
[submodule "submodules/utils"]
	path = submodules/utils
	url = https://github.com/TUM-I5/utils.git
