[submodule "submodules/scons-tools"]
	path = submodules/scons-tools
	url = ../../TUM-I5/scons-tools.git
[submodule "submodules/utils"]
	path = submodules/utils
	url = ../../TUM-I5/utils.git
[submodule "submodules/tinyxml2"]
	path = submodules/tinyxml2
	url = ../../leethomason/tinyxml2.git
[submodule "submodules/run-clang-format"]
	path = submodules/run-clang-format
	url = ../../Sarcasm/run-clang-format.git
[submodule "submodules/easi"]
	path = submodules/easi
	url = ../../SeisSol/easi.git
[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = ../../jbeder/yaml-cpp.git
